@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Miltonian+Tattoo&display=swap');

.titulo {
    text-align: center;
    margin: 40px;
    font-size: 40px;
    font-weight: bold;
    color:#3359ec;
    font-family: 'Miltonian Tattoo', serif;
}

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'DM Serif Display', serif;
}